.settings-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .settings-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

  }

  .settings-form {
    transform: translateY(-50px);
  }

  .form-button {
    transform: translateY(-50px);

  }

  .ant-form-item {
    width: 400px;
  }

}